/*Loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/preloader/Preloader_3.gif) center no-repeat #fff;
}



/**************/


/*Achivements*/



.achiveCardSize{
	/*width: 300px;*/
	/*height: 50px;*/
}



.parallex{
  background: url("../images/bg.jpg") repeat fixed 100%;
  background-size: cover;
  /*overflow: hidden;*/
} 

.parallex-inner{
    padding: 30% 0;
    height: 80vh;
}

.bannerText{
  color: white;
}
@media only screen and (max-width: 600px){
   .bannerText {
      /*color:red;*/
      font-size: 30px;
   } 
   .heading{
      top:  5%;
   }
}
#imgimssa{
  /*position: relative;*/
  width: 150px;
  height: 150px; 
}
.heading{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
}

#imgGallary{
	width: 300px;
	height: 200px;
}

.h1fontclass{
   font-family: 'Lobster', cursive;
   margin-top: 10px;
   margin-bottom: 10px;
   color:#bea91c;
}
.h3fontclass{
   font-family: 'Shadows Into Light', cursive;
}


/*Achivemets*/
.imgcon{
  position: relative;
  width: 50%;
  margin: 10px auto;
}

.acimage {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.imgcon:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.navbar-fixed { z-index: 9999; }

/*
.test{
  opacity: 0;
}

.test:hover{
  opacity: 1;
  transition: 0.5 ease;
  position: relative;
}
/**/*/
